/**
 * Icon Component Demo for tingle
 * @author hanyu
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../node_modules/tingle-style/src/var'

#style1
	.icon
		margin 0 10px
		width 128px
		height 128px
		fill #f50
		
#style2
	.icon2
		margin 0 15px
		width 64px
		height 64px
		fill #f50
		
#style3
	.icon3
		margin 0 15px
		width 32px
		height 32px
		fill #f50
		
#style4
	.icon4
		margin 0 15px
		width 16px
		height 16px
		fill #f50