/**
 * Icon Component Demo for tingle
 * @author hanyu
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../node_modules/tingle-style/src/var'

.demo
  text-align: center
.logo
  width 200px
  height: 200px
.demoIcon
  width 1.2rem
  height 1.2rem
.demoIcon2
  width 32px
  height 32px
  fill #f90